/**
 * Common CSS attribute which requires compatibilities with older browsers
 */
/* Commons classes or styling */
.flex-pusher {
  flex: 1; }

.lowlight-text {
  color: #CFD8DC;
  font-size: 12px;
  font-style: italic; }

input[type="text"],
textarea {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 8px auto;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #1E88E5; }
  input[type="text"]:focus,
  textarea:focus {
    background: #64B5F6; }

textarea {
  resize: vertical; }

input[type="submit"],
button {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border: 1px solid #1E88E5;
  background-color: #1E88E5;
  color: white;
  padding: 8px;
  /* special buttons */
  /* FontAwesome icon */ }
  input[type="submit"]:hover,
  button:hover {
    background-color: #64B5F6;
    color: black;
    cursor: pointer; }
  input[type="submit"].delete-button,
  button.delete-button {
    background-color: lightcoral;
    border-color: red; }
    input[type="submit"].delete-button:hover,
    button.delete-button:hover {
      background-color: darkred;
      color: white; }
  input[type="submit"] i,
  button i {
    margin: auto 8px; }

.button-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 16px;
  /* stretching form */ }
  .button-row input[type="submit"],
  .button-row button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    margin: 8px auto; }
  .button-row form {
    max-width: 300px;
    width: 100%; }

.card-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  padding: 16px; }
  .card a {
    text-decoration: none; }

.card-content {
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15); }
  .card-content:hover {
    box-shadow: 0px 2px 10px #1E88E5; }

.card-header {
  padding: 8px;
  color: black;
  background-color: #64B5F6;
  font-weight: 600; }

.card-body {
  min-height: 64px;
  padding: 8px;
  color: black; }

.card-footer {
  border-top: 1px solid #CFD8DC;
  padding: 8px;
  font-size: 12px;
  min-height: 16px;
  color: #777; }
  .card-footer.button-row form {
    width: auto;
    flex: 1; }
    .card-footer.button-row form:first-child {
      padding-right: 8px; }
    .card-footer.button-row form:last-child {
      padding-left: 8px; }
  .card-footer.button-row button {
    font-size: 12px;
    padding: 4px; }

/**
 * Common CSS attribute which requires compatibilities with older browsers
 */
/**
 * Common CSS attribute which requires compatibilities with older browsers
 */
#nav-toolbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 58px;
  background-color: #1E88E5;
  /* auth menu */ }
  #nav-toolbar .nav-auth-menu a,
  #nav-toolbar .nav-home-menu a {
    display: block;
    height: 58px;
    line-height: 58px;
    text-align: center;
    -webkit-transition-property: background-color color;
    -moz-transition-property: background-color color;
    -o-transition-property: background-color color;
    -ms-transition-property: background-color color;
    transition-property: background-color color;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    background-color: #1E88E5;
    color: white;
    width: 100px;
    text-decoration: none; }
    #nav-toolbar .nav-auth-menu a:hover,
    #nav-toolbar .nav-home-menu a:hover {
      background-color: #64B5F6;
      color: black;
      cursor: pointer; }

#nav-container {
  padding: 24px; }

/**
 * Common CSS attribute which requires compatibilities with older browsers
 */
/**
 * This below code is specific to NodeJS LearnZone implementation so it is a 
 * bit ugly...
 */
#nav-subtoolbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 38.66667px;
  background-color: #64B5F6; }
  #nav-subtoolbar a {
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    -ms-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    color: white;
    display: block;
    width: 200px;
    text-align: center;
    line-height: 38.66667px;
    border-left: 1px solid white; }
    #nav-subtoolbar a:last-child {
      border-right: 1px solid white; }
    #nav-subtoolbar a:hover {
      background-color: #1E88E5; }

/**
 * Common CSS attribute which requires compatibilities with older browsers
 */
.entity-list {
  width: 90%;
  margin: auto; }
  .entity-list td {
    padding: 8px; }
  .entity-list tr {
    background: #fafafa;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    -ms-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
    .entity-list tr:hover {
      background: #eee; }

.entity-form {
  width: 60%;
  margin: auto; }
  .entity-form input,
  .entity-form textarea {
    width: 100%; }

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', Regular;
  background-color: #eee;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
