<form method="post" action="/catalogs" class="entity-form">

    <input name="code" type="text" placeholder="Code" />
    <input name="name" type="text" placeholder="Name" />
    <textarea name="description" placeholder="Description (optional)"></textarea>
    <button type="submit">Create</button>

</form>