<h1>Welcome to LearnZone Node.js</h1>

<p>You are currently connected from {{ip_address}}</p>

<p>
    The interface from the Node.js backend is a very basic simple rudimentary
    interface to test Auth0 and to ensure everything is working. Node.js back-end
    is expected to be served by JavaScript front-end such as Vue.js or *arghh* React.
</p>