<!DOCTYPE html>
<html>

<head>
    <title>LearnZone</title>
    <!-- SCSS -->
    <link rel="stylesheet" href="/style/main.css" />
    <!-- FontAwesome icon pack -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <header id="nav-toolbar">
        <div class='nav-home-menu'>
            <a href="/">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
        </div>
        <div class='flex-pusher'>
        </div>

        <div class='nav-auth-menu'>
            {{#unless user}}
            <a href="/login">
                <i class="fas fa-user"></i>
                <span>Login</span>
            </a>
            {{else}}
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
            {{/unless}}
        </div>
    </header>
    <header id="nav-subtoolbar">
        <a href="/catalogs/">Catalogs</a>
        <a href="/articles/">Articles</a>
        <a href="/misc-info/">Misc-info</a>
    </header>

    <div id="nav-container">
        {{pouet}}
        {{{body}}}
    </div>
</body>

</html>